@import 'nib' // CSS3 extensions for Stylus: http://visionmedia.github.io/nib/

// variables!

slide_width = 640px
slide_height = 480px
slide_background = radial-gradient(circle, #C8410A, #1c1e20)

slide_transition_length = .6s
slide_transition_easing = ease
slide_transition_rotate_y = -78deg
// Safari bugs out on 3d transform-origins, so we have to fake it
slide_transition_nudge_x = -100px

bullet_transition_length = .3s
bullet_transition_easing = ease
bullet_transition_translate_x = 16px

// base

*
  box-sizing: border-box
  margin: 0
  padding: 0

@media print
  *
    -webkit-print-color-adjust: exact

@page
  size: landscape
  margin: 0

// bespoke.js layout styles

article
  transition: background slide_transition_length slide_transition_easing
  display: none
  &.bespoke-parent
    display: block
    position: absolute
    top: 0
    bottom: 0
    left: 0
    right: 0
    overflow: hidden
    @media print
      overflow: visible
      position: static
    perspective: 600px

.bespoke-slide
  transition:
    transform slide_transition_length slide_transition_easing,
    opacity slide_transition_length slide_transition_easing,
    background slide_transition_length slide_transition_easing
  transform-origin: 0% 0% 0
  backface-visibility: hidden
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center
  text-align: center
  width: slide_width
  height: slide_height
  position: absolute
  top: 50%
  margin-top: (slide_height / 2) * -1
  left: 50%
  margin-left: (slide_width / 2) * -1
  background: slide_background
  padding: 40px
  border-radius: 0
  @media print
    zoom: 1 !important // disable bespoke-scale
    height: 743px // seems to correspond with an A4, landscape page height
    width: 100%
    page-break-before: always
    position: static
    margin: 0

.bespoke-before
  transform: translateX(slide_transition_nudge_x * -1) translateX(slide_width / -2) rotateY(slide_transition_rotate_y * -1) translateX(slide_width / -2)

.bespoke-after
  transform: translateX(slide_transition_nudge_x) translateX(slide_width / 2) rotateY(slide_transition_rotate_y) translateX(slide_width / 2)
  @media print
    transform: none

.bespoke-inactive
  opacity: 0
  pointer-events: none
  @media print
    opacity 1

.bespoke-active
  opacity: 1

// bespoke-bullet styles

.bespoke-bullet
  transition: all bullet_transition_length bullet_transition_easing

.bespoke-bullet-inactive
  opacity: 0
  li&
    transform: translateX(bullet_transition_translate_x)
  @media print
    opacity: 1

.bespoke-bullet-active
  opacity: 1

// bespoke-scale styles

.bespoke-scale-parent
  perspective: 600px
  position: absolute
  top: 0
  left: 0
  right: 0
  bottom: 0
  @media print
    transform: none !important

// bespoke-progress styles

.bespoke-progress-parent
  position: absolute
  top: 0
  left: 0
  right: 0
  height: 2px
  @media only screen and (min-width: 1366px)
    height: 4px
  @media print
    display: none

.bespoke-progress-bar
  transition: width .6s ease
  position: absolute
  height: 100%
  background: #dad0d0
  border-radius: 0 8px 8px 0

// bespoke-state styles

.emphatic,
.emphatic .bespoke-slide
  background: slide_background

// prism styles
.big 
  width: 200px
  height: 200px
  border: 4px solid #FFFF2A
  margin: 10px

pre
  padding: 26px !important
  border-radius: 20px

// content styles

body
  font-family: calibri
  font-size: 18px
  color: #e5edf4
  background: #000000
h1
  font-size: 72px
  line-height: 82px
  letter-spacing: -2px
  margin-bottom: 16px

h2
  font-size: 42px
  letter-spacing: -1px
  margin-bottom: 8px

h3
  font-size: 24px
  font-weight: normal
  margin-bottom: 24px
  color: #e5edf4

hr
  visibility: hidden
  height: 20px

ul
  list-style: none

li
  margin-bottom: 12px

p
  margin: 0 100px 12px
  line-height: 22px

a
  color: #0089f3
  text-decoration: none

article
  overflow hidden
  background-color #fff
  perspective 600px
  position absolute
  height 100%
  top 0
  left 0
  right 0
  bottom 0
  section
    transform-style preserve-3d
    width 800px
    height 600px
    position absolute
    left 50%
    margin-left -400px
    top 50%
    margin-top -300px
    opacity 0
    text-align center

article
  section
    
article.reveal h1,article.clean h1
  text-shadow 0 1px 0 #ccc, 0 2px 0 #787878, 0 3px 0 #bbb, 0 4px 0 #b9b9b9, 0 5px 0 #aaa, 0 6px 1px rgba(0,0,0,0.1), 0 0 5px rgba(0,0,0,0.1), 0 1px 3px rgba(0,0,0,0.3), 0 3px 5px rgba(0,0,0,0.2), 0 5px 10px rgba(0,0,0,0.25), 0 20px 20px rgba(0,0,0,0.15)

article.reveal,article.clean
    font-weight bold
    background radial-gradient(circle, #C8410A, #1c1e20)
    background-color #282a2d

article.reveal,article.clean
    section
      color #fff
      transition transform-origin 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985), transform 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985), visibility 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985), opacity 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985)

article
  &.clean
    section
      &.bespoke-slide
        transform-origin 50% 50% 0px
      &.bespoke-inactive
        opacity 0
      &.bespoke-before
        transform rotateY(180deg)
      &.bespoke-before-1
        transform rotateY(90deg)
      &.bespoke-after
        transform rotateY(-180deg)
      &.bespoke-after-1
        transform rotateY(-90deg)
      
article
  &.third
    section
      &.bespoke-slide
        transform-origin 50% 50% 350px
      &.bespoke-inactive
        opacity 0
      &.bespoke-before
        transform rotateY(180deg)
      &.bespoke-before-1
        transform rotateY(90deg)
      &.bespoke-after
        transform rotateY(-180deg)
      &.bespoke-after-1
        transform rotateY(-90deg)

article
  &.animalclean
    section
      &.bespoke-slide
        transform-origin 0% 100% 0px
      &.bespoke-inactive
        opacity 0
      &.bespoke-before
          transform translateZ(40px) rotateY(-60deg) translateX(-400px) rotateZ(120deg)
        &.bespoke-after
          transform translate3d(50px, 0, -100px)

article
  &.intro
    section
      &.bespoke-slide
        transform-origin 50% 50% 400px
      &.bespoke-inactive
        opacity 0
      &.bespoke-before
        transform rotateY(180deg)
      &.bespoke-before-1
        transform rotateY(90deg)
      &.bespoke-after
        transform rotateY(-180deg)
      &.bespoke-after-1
        transform rotateY(-90deg)


article
  &.secondpart
    section
      &.bespoke-before
        transform translateX(-300px) rotateY(45deg) scale(0.4)
      &.bespoke-before-3
        transform translateX(-280px) rotateY(45deg) scale(0.4)
        opacity 0.1
      &.bespoke-before-2
        transform translateX(-260px) rotateY(45deg) scale(0.4)
        opacity 0.25
      &.bespoke-before-1
        transform translateX(-240px) rotateY(45deg) scale(0.4)
        opacity 0.4
      &.bespoke-after
        transform translateX(300px) rotateY(-45deg) scale(0.4)
      &.bespoke-after-1
        transform translateX(240px) rotateY(-45deg) scale(0.4)
        opacity 0.4
      &.bespoke-after-2
        transform translateX(260px) rotateY(-45deg) scale(0.4)
        opacity 0.25
      &.bespoke-after-3
        transform translateX(280px) rotateY(-45deg) scale(0.4)
        opacity 0.1
      color #fff
      -webkit-transform-origin: 50% -100% 0;

article.clean.concave section.bespoke-before h2,
article.clean.concave section.bespoke-after h2
  opacity 0

article.intro
  background : radial-gradient(circle, #C8410A, #c4c4c4)


